@{  
    Layout = null;  
}  
  
<!DOCTYPE html>  
<html ng-app="EmpApp">  
    <head>  
        <meta name="viewport" content="width=device-width" />  
        <title>Index</title>  
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet"type="text/css" />  
        <script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>  
        <script src="@Url.Content("~/Scripts/angular-route.js")"type="text/javascript"></script>  
        <script src="@Url.Content("~/AngularJS/app/app.js")" type="text/javascript"></script>  
        <script src="@Url.Content("~/AngularJS/controllers/controller.js")"type="text/javascript"></script>  
    </head>  
    <body>  
        <div class="main container" ng-view></div>  
    </body>  
</html> 